<%- include('./header.ejs') %>

<%- include('./nav.ejs') %>
<% include('./contact.ejs') %>

<!-- <div class="home-container">
    <div class="card-left">

    </div>
    <h1>HELLO! wE'R <br>CREATIVE</h1>
    <p>A design consultancy working on the art and science of enhancing user experience. We help startups and established businesses invest,build and launch their next product or venture.</p>
</div> -->

<div class="home-container"> 
    <div class="card-left">
        <div class="login-details">
          <img id="uploaded-img" src="/images/beauty-2537562_1920.jpg" alt="">
          <div class="uploaded-details">
            <h3>Alfa Beta Gyama</h3>
            <h5>Creative</h5>
          </div>
        </div>

        <div class="profile">
          <h3>About</h3>
          <div class="profile-headings">
            <a href="#">Profile</a>
            <a href="#">Notifications</a>
            <a href="#">Interest</a>
            <a href="#">Updates</a>
          </div>
        </div>
        <div class="works">
          <h3>Works</h3>
          <div class="works-headings">
            <a href="#">Profile</a>
            <a href="#">Notifications</a>
            <a href="#">Interest</a>
            <a href="#">Updates</a>
          </div>
        </div>
        <a id="logout" href="/logout">Logout</a>
    </div>
    <div class="content-mid">
      <h1>Welcome to <span>Nova.</span></h1>
      <h2>Develop anything.</h2>
      <p>First Solve the Problem Then write the Code.</p>
      <a href="#">Explore More</a>
      <img src="/images/undraw_co-working_825n (2).png" alt="">
    </div>
  </div>


<%- include('./footer.ejs') %>