<%- include('./header.ejs') %>

  <%- include('./nav.ejs') %>
  <% include('./contact.ejs') %>

  <div class="my-container">
    <div class="contents">
      <h1>HELLO! WE'R <br>CREATIVE</h1>
      <p>A design consultancy working on the art and science of enhancing user experience. We help startups and established businesses invest,build and launch their next product or venture.</p>
      <a href="/register">Connect</a>
      <img src="/images/undraw_co-working_825n (2).png" alt="">
    </div>
  </div>

<%- include('./footer.ejs') %>

